@tailwind base;
@tailwind components;
@tailwind utilities;


 @font-face {
  font-family: 'SiFont';
  src: local('SiFont'), url(/public/assets/font/SuisseIntl-Bold.otf) format('woff');
}
@font-face {
  font-family: 'SiFontRegular';
  src: local('SiFontRegular'), url(/public/assets/font/SuisseIntl-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'SiFontNormal';
  src: local('SiFontNormal'), url(/public/assets/font/SuisseIntl-Medium.ttf) format('woff');
}
@font-face {
  font-family: 'SiFontThin';
  src: local('SiFontThin'), url(/public/assets/font/SuisseIntl-Thin.otf) format('woff');
}


button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  font-family: 'SiFont','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12141D;
}

code {
  font-family: 'SiFont', 'SiFontNormal','SiFontRegular','SiFontThin','Courier New',
    monospace;
}
